# include additional files
include README.md
include MANUAL.md
include LICENSE
include requirements.txt

# exclude example and test directories
prune example/
prune test/

# exclude pesky DS_Store files and compiled python scripts
global-exclude .DS_Store *.py[co]
